# Dependencies
node_modules/

# Build output
build/
dist/

# Environment files
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Cache
.cache/
src/GOOGLE_SERVICE_ACCOUNT_KEY.txt
